In [56]:
import pandas as pd

In [3]:
pd.read_csv('data/example_mad4hatter_pipeline_output/sample_coverage.txt', sep='\t').SampleID.unique()

array(['7S1-10K-parasitedensity-0p25x-primerconcentration-allpools-ENV-PV4-replicate1_S1_L001',
       '7S1-10K-parasitedensity-0p25x-primerconcentration-allpools-ENV-PV4-replicate2_S9_L001'],
      dtype=object)

In [4]:
! cp data/manifest_template_andres.csv data/small_manifest.csv

In [5]:
pd.read_csv('data/small_manifest.csv')

                SampleID  Experiment SampleType  Column  Row
0     N1900975-9_S1_L001         NaN     sample     NaN  NaN
1     N1901146-2_S2_L001         NaN     sample     NaN  NaN
2     N1902716-6_S3_L001         NaN     sample     NaN  NaN
3     N1900785-4_S4_L001         NaN     sample     NaN  NaN
4     N1902154-6_S5_L001         NaN     sample     NaN  NaN
..                   ...         ...        ...     ...  ...
91   NDS2DC310K_S92_L001         NaN     sample     NaN  NaN
92   NDS2DC610K_S93_L001         NaN     sample     NaN  NaN
93  NDS2DC1110K_S94_L001         NaN     sample     NaN  NaN
94   NDS2DC710K_S95_L001         NaN     sample     NaN  NaN
95   NDS2DC810K_S96_L001         NaN     sample     NaN  NaN

[96 rows x 5 columns]

In [ ]:
{
    'SampleID':['7S1-10K-parasitedensity-0p25x-primerconcentration-allpools-ENV-PV4-replicate1_S1_L001',
       '7S1-10K-parasitedensity-0p25x-primerconcentration-allpools-ENV-PV4-replicate2_S9_L001'],
    'Experiment':['batch1','batch1'],
    'SampleType':['sample','sample'], 
    'Column':['01','02'],
    'Row': ['A','B']
}

# Make a larger manifest

In [21]:
coverage_more_samples = pd.read_csv('data/example_mad4hatter_pipeline_output_larger/sample_coverage.txt', sep='\t')
coverage_more_samples.head()

,SampleID,Stage,Reads
0,DIRDWA22-MH-02-AE-2022-11-03-8068286680_S35_L001,Input,235229
1,DIRDWA22-MH-02-AE-2022-11-03-8068286680_S35_L001,No Dimers,209091
2,DIRDWA22-MH-02-AE-2022-11-03-8068286680_S35_L001,Amplicons,127714
3,DIRDWA22-MH-02-AE-2022-11-03-8068286680_S35_L001,OutputDada2,127388
4,DIRDWA22-MH-02-AE-2022-11-03-8068286680_S35_L001,OutputPostprocessing,127139

In [23]:
# SampleID	Experiment	SampleType	Column	Row
manifest = coverage_more_samples[['SampleID']].drop_duplicates()

In [26]:
# Add SampleType, Batch, Column, Row
sample_type = []
plate_row = []
col = []
batch = []
i = 0
r = 1
c = 0
cols = ['A','B','C','D','E','F','G','H']
batch_name = 'run1'
for index, row in manifest.iterrows(): 
    i += 1 

    # Add SampleType 
    if 'NegativeControl' in row.SampleID: 
        sample_type.append('negative')
    elif 'PositiveControl' in row.SampleID: 
        sample_type.append('positive')
    else: 
        sample_type.append('sample')

    # Add row 
    plate_row.append(r)
    r += 1
    if r == 12: 
        r = 0 
        
    # Add col
    col.append(cols[c])
    c += 1 
    if c == (len(cols)-1) : 
        c = 0 

    # Batch 
    batch.append(batch_name)
    if i == 60: 
        batch_name = 'run2'
        c = 0 
        r = 1

In [27]:
# Add SampleType, Batch, Column, Row
manifest['SampleType'] = sample_type
manifest['Batch'] = batch
manifest['Column'] = col
manifest['Row'] = plate_row

In [29]:
manifest.to_csv('manifest_large_multibatch.csv')

# Make a 1 batch full plate example

In [32]:
# SampleID	Experiment	SampleType	Column	Row
manifest = coverage_more_samples[['SampleID']].drop_duplicates()
manifest = manifest.sample(96)

In [34]:
# Add SampleType, Batch, Column, Row
sample_type = []
plate_row = []
col = []
r = 1
c = 0
cols = ['A','B','C','D','E','F','G','H']
batch_name = 'run1'
for index, row in manifest.iterrows(): 
    # Add SampleType 
    if 'NegativeControl' in row.SampleID: 
        sample_type.append('negative')
    elif 'PositiveControl' in row.SampleID: 
        sample_type.append('positive')
    else: 
        sample_type.append('sample')

    # Add row 
    plate_row.append(r)
    r += 1
    if r == 12: 
        r = 0 
        
    # Add col
    col.append(cols[c])
    c += 1 
    if c == (len(cols)-1) : 
        c = 0

In [35]:
# Add SampleType, Batch, Column, Row
manifest['SampleType'] = sample_type
manifest['Batch'] = batch_name
manifest['Column'] = col
manifest['Row'] = plate_row

In [38]:
manifest.to_csv('manifest_large_onebatch.csv', index=False)

In [39]:
!mv manifest_large_multibatch.csv data/

In [40]:
!mv manifest_large_onebatch.csv data/

# Add parasitemia

In [45]:
import numpy as np

manifest = pd.read_csv('data/manifest_large_multibatch.csv')
manifest['Parasitemia'] = np.random.randint(0, 100001, size=len(manifest))

In [49]:
manifest.drop(columns='Unnamed: 0').to_csv('data/manifest_large_multibatch.csv', index=False)

# Playground

In [50]:
pd.read_csv('data/example_mad4hatter_pipeline_output_larger/allele_data.txt', sep='\t')

        SampleID\tLocus\tASV\tReads\tAllele\tPseudoCIGAR
0      DIRDWA22-MH-02-AE-2022-11-03-8068286985_S21_L0...
1      DIRDWA22-MH-02-AE-2022-11-03-8068286899_S77_L0...
2      DIRDWA22-MH-02-AE-2022-11-03-8068287099_S48_L0...
3      DIRDWA22-MH-02-AE-2022-11-03-8068287178_S24_L0...
4      DIRDWA22-MH-02-AE-2022-11-03-8068287261_S33_L0...
...                                                  ...
17105  DIRDWA22-MH-02-AE-2022-11-03-8068287541_S59_L0...
17106  DIRDWA22-MH-02-AE-2022-11-03-8068287384_S73_L0...
17107  DIRDWA22-MH-02-AE-2022-11-03-8068286908_S18_L0...
17108  DIRDWA22-MH-02-AE-2022-11-03-8068287157_S80_L0...
17109  DIRDWA22-MH-02-AE-2022-11-03-8068286927_S17_L0...

[17110 rows x 1 columns]

In [57]:
pd.read_csv('data/manifest_large_multibatch.csv').rename

,SampleID,SampleType,Batch,Column,Row,Parasitemia
0,DIRDWA22-MH-02-AE-2022-11-03-8068286680_S35_L001,sample,run1,A,1,80743
1,DIRDWA22-MH-02-AE-2022-11-03-8068286683_S93_L001,sample,run1,B,2,62550
2,DIRDWA22-MH-02-AE-2022-11-03-8068286700_S9_L001,sample,run1,C,3,81989
3,DIRDWA22-MH-02-AE-2022-11-03-8068286705_S47_L001,sample,run1,D,4,44845
4,DIRDWA22-MH-02-AE-2022-11-03-8068286773_S61_L001,sample,run1,E,5,15785
...,...,...,...,...,...,...
98,DIRDWA22-MH-02-AE-2022-11-03-NegativeControl-1...,negative,run2,D,3,76345
99,DIRDWA22-MH-02-AE-2022-11-03-NegativeControl-1...,negative,run2,E,4,47233
100,DIRDWA22-MH-02-AE-2022-11-03-NegativeControl-1...,negative,run2,F,5,60991
101,DIRDWA22-MH-02-AE-2022-11-03-NegativeControl-1...,negative,run2,G,6,84762
102,DIRDWA22-MH-02-AE-2022-11-03-PositiveControl-1...,positive,run2,A,7,11065

In [62]:
df = pd.read_csv('data/manifest_large_multibatch.csv')
df['Column'] = df.Column+1
df.to_csv('data/manifest_large_multibatch.csv', index=False)

In [63]:
df = pd.read_csv('data/manifest_large_onebatch.csv')
df['Column'] = df.Column+1
df.to_csv('data/manifest_large_onebatch.csv', index=False)